KANEO_CLIENT_URL=https://tasks.autonomousrobotics.club
KANEO_DB_PASSWORD=change_me_kaneo
AUTH_SECRET=change_me_generate_with_openssl_rand_hex_32
S3_ACCESS_KEY_ID=change_me
S3_SECRET_ACCESS_KEY=change_me
S3_BUCKET=kaneo-uploads
S3_ENDPOINT=https://bucket.autonomousrobotics.club
S3_REGION=us-east-1
CLOUDFLARE_TUNNEL_TOKEN=paste_tunnel_token_here
